
body {
    background-color: black;
    text-align: center;
  }

  
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;

  }

  h3 {
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 42px;
      font-weight: normal;
      background: linear-gradient(to right, white, aquamarine 50%, white 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 900ms ease;
  }

h3:hover {
        background-position: 0 100%;
      }

  h4 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 21px;
      color: grey;
      font-weight: lighter;
  }
  
  h6 {
    color: aquamarine;
    font-size: 19px;
    font-family: fantasy, Verdana, sans-serif;
    padding: animation: name 1s linear;
    letter-spacing: 10px;
    text-transform:capitalize;
    padding-top: 2px;
  }



  /*Code for underline animation on h6 "Download Excursion" a */
  a {
    color: #fff;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 0.5em;
    display: inline-block;
    padding: 0;
    position: relative;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 56px;
    content: '';
    color: aquamarine;
    display: block;
    height: 3px;
    left: 50%;
    position: relative;
    background: aquamarine;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
/*brightness added to video */
  .iPhone{
  filter:brightness(150%);
  }
  
  .camping-img {
      border-radius: 5px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%; 
  }

  .mini-img {
      padding-top: 47px;

  }

  .time {
     color: aquamarine;
      font-size: 12px;
      font-family: fantasy;
      padding-top: 12px;
  }
  
  footer {
      text-align: center;
      color:gray;
      font-size: 12px;
      padding-top: 38px;
  }

  /* Fade in animation on h1 word "hidden". 4 sec completion */

  .fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

